/* all these are for the navbar */

* {
  padding: 0;
  margin: 0;
}

.navbars {
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbars a {
  text-decoration: none;
  color: rgb(253, 211, 211);
}

#info a {
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 20px;
}

#menus {
  display: flex;
  align-items: center;
}

#menus a {
  margin-right: 40px;
}

.mobile-navbar {
  overflow: hidden;
  position: relative;
  background-color: black;
}

.mobile-navbar #links {
  display: none;
  padding-top: 10px;
}

.mobile-navbar a {
  text-decoration: none;
  padding: 20px;
  display: block;
  color: white;
}

.mobile-navbar .menu-open {
  display: block;
  position: absolute;
  top: 15px;
  right: 10%;
  color: white;
}

.mobile-navbar .fa-magnifying-glass {
  display: block;
  position: absolute;
  top: 20px;
  right: 30%;
  font-size: 20px;
}

@media (min-width: 817px) {
  .mobile-navbar {
    display: none !important;
  }

  #menu-dropdown {
    display: none;
  }
}

#typex {
  display: flex;
  background-color: rgb(29, 26, 26);
  width: 100%;
  height: 60vh;
  display: none;
}

#typex-iPad {
  display: flex;
  background-color: rgb(29, 26, 26);
  width: 100%;
  height: 60vh;
  display: none;
}

#typex-iPhone {
  display: flex;
  background-color: rgb(29, 26, 26);
  width: 100%;
  height: 60vh;
  display: none;
}

#typex-support {
  display: flex;
  background-color: rgb(29, 26, 26);
  width: 100%;
  height: 60vh;
  display: none;
}

#typex-wheretobuy {
  display: flex;
  background-color: rgb(29, 26, 26);
  width: 100%;
  height: 60vh;
  display: none;
}

.explore-mac {
  margin-left: 130px;
  padding-top: 20px;
  font-size: 20px;
}

.explore-mac a {
  text-decoration: none;
  color: white;
}

/* this is the navbar for mobile device  */
.navbar-mobile a {
  text-decoration: none;
  color: white;
}

.navbar-mobile {
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  width: 100%;
}
/* this is the navbar for mobile device  */

@media (max-width: 816px) {
  .navbars {
    display: none;
  }
}

.inside-menu {
  margin-left: 70px !important;
  margin-top: 40px;
}

.inside-menu a {
  text-decoration: none;
  color: white;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 700;
}

#menu-dropdown {
  height: 100vh;
  position: fixed;
  width: 100%;
  display: none;
  top: 0;
  overflow-y: hidden !important;
}
.fa-bars {
  font-size: 30px !important;
}

.fa-x {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  font-size: 30px;
}
.more-of-mac {
  margin-top: 20px;
  margin-left: 100px;
}

.more-of-mac a {
  text-decoration: none;
  color: white;
}

.more-of-mac a:hover {
  color: rgb(212, 181, 181);
}

/* all these are for the navbar */

#appears {
  display: none;
  background-size: cover !important;
}

@media (min-width: 1000px) {
  .four-color {
    display: block;
  }

  .inbox-pic {
    margin-left: 70px;
  }

  #appears {
    display: block !important;
  }

  .draw-ipad {
    background-position: 50px;
  }

  .draw-ipad {
    background-image: url(draw-ipad.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .dis-app {
    display: none;
  }

  .dis-apps {
    display: block !important;
  }
  .volume {
    margin-top: 100px;
  }

  .front {
    display: block !important;
  }

  .sky {
    width: 60% !important;
  }

  .apple-draw{
    margin-left: 100px !important;
  }

  .apple-pencil{
    margin-right: 50px !important;
  }

   .fallback-icon{
    position: absolute;
    right: 15%;
  }

  .fallbackicon{
    max-width: 300px;
  }
}
@media (min-width: 750px) {
  .not-show-mobile {
    display: block !important;
  }

  .quick {
    font-size: 70px !important;
  }

  .ipad-word {
    font-size: 60px !important;
  }

  .redesign {
    font-size: 30px !important;
  }

  .under-quick {
    font-size: 30px;
    max-width: 500px;
    margin: 0 80px !important;
  }

  .a-14-word {
    font-size: 30px;
    max-width: 400px;
  }

  .content {
    font-size: 80px;
    max-width: 700px !important;
    font-weight: bold;
    margin-left: 70px !important;
  }

  .content-p {
    font-size: 30px;
    max-width: 700px !important;
    margin-left: 70px !important;
  }

  .volume-p {
    font-size: 25px;
    max-width: 600px;
    margin-left: 20px;
  }

  .volume {
    margin-left: 20px;
  }

  .camera-p {
    font-size: 30px;
    max-width: 500px;
  }

  .frame {
    max-width: 550px !important;
    font-weight: bold;
    font-size: 70px !important;
    margin-left: 100px !important;
  }

  .frame-p {
    font-size: 30px;
    max-width: 500px !important;
    font-weight: 600;
    color: gray;
    margin-left: 100px !important;
    margin-top: 50px;
  }

  .stage {
    margin-right: 400px;
  }

  .connect {
    margin-left: 70px !important;
  }

  .connect-p {
    font-size: 20px;
    max-width: 400px;
    margin-left: 70px !important;
  }

  .frame-pp {
    font-size: 30px;
    max-width: 500px !important;
    font-weight: 600;
    color: gray;
    margin-left: 100px !important;
    /* margin-top: 50px; */
  }

  .frames {
    max-width: 510px !important;
    font-weight: bold;
    font-size: 70px !important;
    margin-left: 100px !important;
  }

 
}

.quick {
  font-size: 30px;
}

.under-quick {
  margin: 0 10px;
}

#line{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

#line:hover{
  border: 3px soild blue !important;
}

#lines{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#line:hover{
  border: 3px soild blue !important;
}

