.button{
  padding: 3px 20px;
  border: 1px solid green;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, green,white);
  font-weight: bold;
}

.navbar-nav a {
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid;
  margin-right: 10px;
  padding-left: 10px;
}


.pic img{
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

@media(min-width:992px) {
  .pic img {
    object-fit: cover;
    width: 80% !important;
    margin-left: 110px;
    margin-top: 100px;
  }

  .pic{
    background-color: rgb(88, 165, 88);
    padding-bottom: 120px;
  }

  .pics img {
    
    width: 70% !important;
    margin-left: 200px;
    object-fit: cover;
  }
}

.pics img{
  width: 100%;
  height: 60;
  object-fit: cover;
}

.three-first-body p {
  /* text-align: center; */
  max-width: 200px;
  margin: 0 auto;
}


.third-second-body p {
  /* text-align: center; */
  max-width: 200px;
  margin: 0 auto;
}


.four-body p {
  /* text-align: center; */
  max-width: 200px;
  margin: 0 auto;
}

@media(min-width:768px) {
  .three-first {
    margin-top: 120px;
  }

}

section a{
  text-decoration: none;
  color: green;
}

section h2{
  font-size: 11px;
}

span{
  font-weight: bold;
}

.try{
  text-align: center;
}  

input{
  background-color: rgba(0, 128, 0, 0.288);
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  color: white;
  padding-left: 10px;
}

::placeholder{
  color: rgba(0, 128, 0, 0.521);
}

textarea{
  background-color: rgba(0, 128, 0, 0.288);
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  outline: none;
  color: white;
  padding-left: 10px;
}

#message{
  resize: none;
}

@media(min-width:768px){
  #name{
    width: 50%;
  }
}

@media(min-width:771px){
  .our-app{
    margin-bottom: 120px;
  }

  .about-company{
    margin-bottom: 20px;
  }
}



.a-tags a {
  display: block;
  padding: 7px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.fa-brands {
  padding-right: 20px;
}

.terms {
  text-decoration: none;
  margin-right: 5px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
}

.privacy {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
}

@media(max-width:587px){
  .sign-up-h2{
    font-size: 15px !important;
  }
}

@media(max-width:452px){
  .sign-up-h2{
    font-size: 12px !important;
  }
}

@media(max-width:372px){
  .sign-up-h2{
    font-size: 10px !important;
  }
}
