.navbar-nav a {
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid;
  margin-right: 10px;
  padding-left: 10px;
}

.button{
  padding: 3px 20px;
  border: 1px solid green;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, green,white);
  font-weight: bold;
}


.fa-brands {
  padding-right: 20px;
}

.terms {
  text-decoration: none;
  margin-right: 5px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
}

.privacy {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
}

@media(min-width:771px) {
  .our-app {
    margin-bottom: 120px;
  }

  .about-company {
    margin-bottom: 20px;
  }
}

@media(min-width:992px) {
  .our-app {
    margin-bottom: 50px;
  }

  .about-company {
    margin-top: 30px;
  }

  .one{
    transition: .6s;
  }

  .one:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
  }
}


.a-tags a {
  display: block;
  padding: 7px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

@media(max-width:767px){
  .footer{
    margin-top: 1000px !important;
  }
}